<!-- Desktop sidebar -->
<aside class="z-20 flex-shrink-0 hidden w-64 overflow-y-auto bg-white dark:bg-light-grey md:block">
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <%= link_to root_path do %>
      <div class="mt-4 mx-centered-logo w-36 text-dark-grey dark:text-white">
        <%= render 'shared/logo' %>
      </div>
    <% end %>

    <ul class="mt-10 text-gray-500 dark:text-gray-400">
      <% [:gallery, :people].each do |controller_name| %>
        <% path = send("#{controller_name.to_s.pluralize}_path") %>
        <li class="relative px-6 py-3">
          <%= '<span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>'.html_safe if current_page?(path) %>
          <%= link_to path, class: "inline-flex items-center w-full text-sm font-semibold #{'text-gray-800 dark:text-gray-100' if current_page?(path)} transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" do %>
            <%= svg_for(controller_name) %>
            <span class="ml-4"><%= controller_name.to_s.humanize %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
<!-- Mobile sidebar -->
<!-- Backdrop -->
<div class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center" style="display: none;" data-menu-target="backdrop"></div>
<aside class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-light-grey md:hidden" style="display: none;" data-menu-target="sidebar">
  <div class="py-4 text-gray-500 dark:text-gray-400">

  </div>
</aside>
