<%= form_with model: envelope_formula, id: dom_id(envelope_formula, "form"), class: "table min-w-full" do |form| %>
  <div>
    <%= form.text_field :name, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:name, envelope_formula) %>
  </div>
  <div>
    <%= form.text_field :daily_expences, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:daily_expences, envelope_formula) %>
  </div>
  <div>
    <%= form.text_field :savings, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:savings, envelope_formula) %>
  </div>
  <div>
    <%= form.text_field :funds_for_others, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:funds_for_others, envelope_formula) %>
  </div>
  <div>
    <%= form.text_field :funds_for_self_development, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:funds_for_self_development, envelope_formula) %>
  </div>
  <div>
    <%= form.text_field :funds_for_expensive_purchase, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:funds_for_expensive_purchase, envelope_formula) %>
  </div>
  <div>
    <%= form.text_field :investment_funds, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:investment_funds, envelope_formula) %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
