<!DOCTYPE html>
<html class="dark">
  <head>
    <title>HuntiCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "tailwind", 'dark-theme-switcher', "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 dark:bg-dark-grey">
    <div class="flex min-h-screen">
      <%= render 'shared/navbar' %>
      <main class="container px-5 mx-auto mt-12">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
