<!DOCTYPE html>
<html class="<%= 'dark' if cookies[:dark_theme] == 'true' %>">
  <head>
    <title>HuntiCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "tailwind", 'dark-theme-switcher', "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex h-screen bg-gray-50 dark:bg-dark-grey" data-controller="menu">
      <%= render 'shared/sidebar' %>
      <div class="flex flex-col flex-1 w-full">
        <%= render 'shared/navbar' %>
        <main class="h-full overflow-y-auto">
          <div class="container px-5 py-5 mx-auto">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
